<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RasPiQuery" value="Select IPAddress from RasPiIPMapping;"/>
    <add key="RasPiUpdateQuery" value="Update RasPiIPMapping Set Status = @Status Where IpAddress = @IpAddress;"/>
    <add key="StartupInterval" value="5" />
  </appSettings>
   <connectionStrings>
     <add name="DatabaseConnString" connectionString="Data Source=HYD-PRINT; Initial Catalog=SmartPrinterRaspiDatabase; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>