<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerAddress" value="https://localhost:4043/SmartPrintingApi/"/>
    <add key="Tenant" value="microsoft.onmicrosoft.com"/>
    <add key="ClientID" value="1e3e7e3a-61e3-4ed9-b60e-baec5490edd0"/>
    <add key="ClientSecret" value="qbrqdvsQiz0fOH1S1ojALo9yrBEAAgzTqkyGzS2XBxA="/>
    <add key="ApiResourceID" value="https://SmartPrintingService"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />    
    </startup>
</configuration>