<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartupInterval" value="10" />
    <add key="RecepientQuery" value="Select EmailAddress from HealthNotificationRecepient;"/>
    <add key="SenderQuery" value="Select EmailAddress, Password from NotificationSender;"/>
    <add key="TemplatePath" value="F:\Resources\SmartPrinterMailTemplate.html"/>
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnString" connectionString="Data Source=HYD-PRINT; Initial Catalog=SmartPrinterRaspiDatabase; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>